.App {
  text-align: left;
  font-family: 'Nunito', sans-serif;
  color: #625C66;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

body {
  background-color: #FFFEFA;
  font-family: 'Nunito', sans-serif;
}

.dateBox {
width: inherit;
}


.taskHeader {
color:#625C66;
font-weight: bold;
text-decoration: underline;
font-family: inherit;
}


/* BUTTONS: */

.addTaskButton {
  width: 90px;
  bottom: 50%;
  position: absolute;
  transform: translate(-20px, 12px);
  text-align: center;
  background-color: rgb(166, 161, 172);
  border-color: #625C66;
  box-shadow: 0 5px #999;
}

.addTaskButton:hover:after {
  opacity: 80%;
  content: ' \00bb';
  right: 0;
  text-align: left;
}

.addTaskButton:active {
  box-shadow: 0 5px #666;
  transform: translate(-22px, 18px);
}

.TaskButton {
  font-size: 75%;
  padding: 3%;
  width: 100%;
}

.TaskButton:hover {
  opacity: 80%;
}

.buttonMargin {
  padding: 1%;
}

.buttonTaskDone {
  background-color: #84B38F;
}

.buttonNotDone {
  background-color: #FAE47E;
}

.buttonDelete {
  background-color: #FA7962;
}

.medium {
  font-size: 3em;
}

.enabledButton {
  color:orange;
}
.disabledButton {
  opacity: 0.35;
}


/* TEXT & HEADERS: */

h1 {
  text-align: center;
  font-family: 'Cabin Sketch', cursive;
  font-size: 40px;
  color: #B58489;
  background-color: white;
  margin: 20 0 0 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -85%);
  padding: 0 10% 0 10%;
  border: dotted;
}

.TaskHeaders {
  margin-bottom: 5%;
  margin-top: 5%;
  color: aliceblue;
  font-family: 'Cabin Sketch', cursive;
  border-color: #625C66;
  font-size: 20px;
  padding: 1%;
  background-color: darkcyan;
}

.myTaskFont {
  font-family: 'Cabin Sketch', cursive;
  color: #625C66;
  font-size: 25px;
}

.myNextTask {
  border-color: #625C66;
  color: #0B2066;
}

/* IMAGES: */

.headerImage {
  width: 100%;
  height: 90%;
  padding: 0 0 1% 0;
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 19px
  }
}



.paddingSmall {
padding: 5px
}

@media only screen and (max-width: 767px) {
  .dateBox {
font-size: 10px;
  }
}