.App {
  text-align: left;
  font-family: 'Nunito', sans-serif;
  color:#625C66;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* BUTTONS: */

.addTask-button {
  bottom: 50%;
  position: absolute;
  text-align: left;
    transform: translate(-21%, 37%);
}

.TaskButton {
  font-size: 75%;
  padding: 3%;
  width: 100%;
}

.buttonMargin {
  padding: 1%;
}


/* HEADERS: */
h1 {
  text-align: center;
  font-family: 'Cabin Sketch', cursive;
  font-size: 40px;
  color:#B58489;
  background-color: white;
  margin: 20 0 0 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 10% 0 10%;
}

.TaskHeaders {
  margin-bottom: 5%;
  margin-top: 5%;
  color:#625C66;
  font-family: 'Cabin Sketch', cursive;
  border-color: #625C66;
  font-size: 20px;
}

.myTaskFont {
  font-family: 'Cabin Sketch', cursive;
  color:#625C66;
  font-size: 20px;
 }

.myNextTaskBorder {
  border-color:#625C66;
 color: #625C66;
}


/* IMAGES: */
.headerImage {
  width: 100%;
  padding: 0 0 1% 0;
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 20px
  }
}


body {
  background-color: #FFFEFA;
  font-family: 'Nunito', sans-serif;
}

